<html>
  <head>
    <link rel="stylesheet" href="../static/styles/login.css" />
  </head>
  <body>
    <!-- Main Content -->
    <main>
      <div class="login-container">
        <img
          src="../static/img/CorrectionsSuiteLogo.png"
          style="width: 50%; margin: auto auto"
        />
        <form method="POST" action="/login">
          <label>Username:</label>
          <br />
          <input name="username" />
          <br />
          <label>Password:</label>
          <br />
          <input name="password" />
          <br />
          <input type="submit" value="Login" />
        </form>
      </div>
    </main>

    <!-- Page Footer -->
    <footer>
      <div>
        <table>
          <tr>
            <td>© 2021 Michael Canady</td>
          </tr>
        </table>
      </div>
    </footer>
  </body>
</html>
